[user]
	email = corax26@gmail.com
	name = Kevin Brodsky
[http]
	postBuffer = 10480576
[credential]
	helper = cache --timeout=36000
[pull]
	ff = only
[push]
	default = upstream
[merge]
	defaultToUpstream = true
	tool = gvimdiff
[core]
	excludesfile = ~/.gitignore_global
	abbrev = 12
[i18n]
	logOutputEncoding = UTF-8
[color]
	ui = auto
[color "grep"]
	context = dim
	filename = magenta
	function = white
	linenumber = green
	separator = cyan
[pager]
	grep = false
	reflog = false
[alias]
	a    = add
        axc = "!xclip -sel clipboard -o | git am"
	br   = branch -vv
	brf  = branch -avv
	co   = checkout
	cp   = cherry-pick
	d    = diff -p --stat
	ds   = diff -p --stat --staged
	dc   = !git --no-pager diff --check
	dcs  = !git --no-pager diff --check --staged
	dsc  = !git --no-pager diff --check --staged
	dst  = !git --no-pager diff --stat
	dsst = !git --no-pager diff --stat --staged
	fu   = "!u=${1/-\\//}; [[ $u =~ (https://.*)/(tree|commits)/(.*) ]] && git fetch ${BASH_REMATCH[1]} ${BASH_REMATCH[3]%/} #"
	g    = grep
	h    = help
	l    = log -n 100
	lm   = log --no-merges -n 100
	lp   = log -p -n 100
	lpm  = log --no-merges -p -n 100
	lo   = !git --no-pager log --oneline -n 20
	lom  = !git --no-pager log --no-merges --oneline -n 20
	lod  = !git --no-pager log --pretty=tformat:'%C(auto)%h %Cblue%ad%C(auto)%d %s' -n 20
	lodm = !git --no-pager log --no-merges --pretty=tformat:'%C(auto)%h %Cblue%ad%C(auto)%d %s' -n 20
	lg   = !PAGER=less git log --decorate --graph
	# The trailing # is needed to ignore arguments, if any (they are passed to git in the middle of the line using "$@").
	lon  = "!git lo --color \"$@\" | { nr=0; while read line; do printf \"%3d: $line\n\" $((nr++)); done; } #"
	ls   = log --stat -n 100
	lsm  = log --no-merges --stat -n 100
	li   = "!vim -n -c 'set switchbuf= fdls=99' -c \"autocmd VimEnter * silent Glog $* -- | copen\" #"
	rd   = !PAGER=less git range-diff --creation-factor=90
	rbc  = rebase --continue
	rbsc = rebase --show-current-patch
	rl   = reflog
	rv   = remote -v
	s    = show --stat --patch
	sl   = !git --no-pager stash list --stat
	st   = status
	stnu = status -uno
[log]
	date = iso
	decorate = short
[mailinfo]
	scissors = true
[sendemail]
	confirm = always
[format]
	coverLetter = auto
[pretty]
	fixes = Fixes: %h (\"%s\")
[stash]
	showPatch = true
[notes]
	displayRef = *
[include]
	path = .gitconfig_specific
[diff]
	compactionHeuristic = true
[rebase]
	autoSquash = true
[commit]
	verbose = true
[pager]
	branch = false
	tag = false
[am]
	threeWay = true
[advice]
	skippedCherryPicks = true
#[remote "origin"]
#	fetch = +refs/notes/*:refs/notes/*
# vim: set noet ts=8 sw=8:
