[user]
	email = corax26@gmail.com
	name = Kevin Brodsky
[http]
	postBuffer = 10480576
[credential]
	helper = cache --timeout=36000
[push]
	default = upstream
[merge]
	defaultToUpstream = true
	tool = gvimdiff
[core]
	excludesfile = ~/.gitignore_global
	abbrev = 12
[i18n]
	logOutputEncoding = UTF-8
[color]
	ui = auto
[color "grep"]
	context = dim
	filename = magenta
	function = white
	linenumber = green
	separator = cyan
[pager]
	grep = false
[alias]
	a    = add
	br   = branch -vv
	brf  = branch -avv
	co   = checkout
	d    = diff
	dc   = !git --no-pager diff --check
	dcs  = !git --no-pager diff --check --staged
	dsc  = !git --no-pager diff --check --staged
	ds   = diff --staged
	g    = grep
	l    = log -n 100
	lg   = !PAGER=less git log --decorate --graph
	lp   = log -p -n 100
	ls   = log --stat -n 100
	rl   = reflog
	s    = show --stat --patch
	sl   = !git --no-pager stash list --stat
	st   = status
	stnu = status -uno
[log]
	date = iso
	decorate = short
[mailinfo]
	scissors = true
[sendemail]
	confirm = always
[format]
	coverLetter = auto
[pretty]
	fixes = Fixes: %h (\"%s\")
[stash]
	showPatch = true
[notes]
	displayRef = *
[include]
	path = .gitconfig_specific
[diff]
	compactionHeuristic = true
[rebase]
	autoSquash = true
#[remote "origin"]
#	fetch = +refs/notes/*:refs/notes/*
# vim: set noet ts=8 sw=8:
