[user]
	email = corax26@gmail.com
	name = Kevin Brodsky
[http]
	sslVerify = false
	postBuffer = 10480576
[credential]
	helper = cache --timeout=36000
[push]
	default = upstream
[merge]
	defaultToUpstream = true
	tool = gvimdiff
[core]
	excludesfile = ~/.gitignore_global
[i18n]
	logOutputEncoding = UTF-8
[color]
	ui = auto
[pager]
	grep = false
[alias]
	st = status
	stnu = status -uno
	lg = !PAGER=less git log --decorate --graph
	l = log -n 100
	lp = log -p -n 10
	a = add
	br = branch
	brf = branch -avv
	d = diff
	ds = diff --staged
[log]
	date = iso
	decorate = short
